@media print {
    .no-printable {
        display: none;
    }
}

@media print {
    .no-printable {
        display: none;
    }
}

.events-printable {
    display: none;
    @media print {
        display: block;
        & .event-printable {
            & > * {
                padding: 8px 0 8px 0;
                font-family: "Times New Roman", serif;
                font-size: 16px;
                text-align: start;
            }
            & > h2 {
                font-size: 20;
                text-align: center;
            }
        }
    }
}
